<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
  <div>
    <%- include('./partials/header'); %>
  
    <section id="search" class="search-wrap">
      <h1>Find A Coding Gig</h1>
      <form action="/search" class="search-form">
        <i class="fas fa-search"></i>
        <input placeholder="Enter name product" type="text" name="productName">
        <input type="submit" value="Search">
      </form>
    </section>
</div>
</body>
</html>