<header class="inner">
  <h2><a href="/">
      Admin Panel</a></h2>
  <nav>
    <ul>
      <li>
        <a href="/all-product">All Products</a>
      </li>
      <li>
        <a href="/add-product">Add Product</a>
      </li>   
    </ul>
  </nav>
</header>